.main-content {
    padding: 20px;
    background-color: #f9f9f9;
    min-height: calc(100vh - 60px); /* Adjust based on header height */
    max-width: 800px;
    margin: 0 auto;
}
h2{
    align-content: center;
}