.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Thiết lập các phần tử .header và .main-content để sử dụng chiều rộng của viewport */
.header, .main-content {
  width: 100vw;
  box-sizing: border-box;
}
